.App {
  text-align: center;
}
h2, h3 {
  margin: 0px;
}
.App-header {
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}
.App-current {
  font-size: 2em;
}
.App-score {
  font-size: 1.5em;
}

.App-average {
  font-size: 1em;
}
.nodecks {
  font-size: 1.5em;
  color: #ffffff;
  margin-top: 80px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#table {
  width: 1045px;
  margin: 10px auto;
}

.tableRow {
  height: 100px;
  padding-bottom: 10px;
  width: 100%;
  clear: both;
}
button {
  outline: none;
  cursor: pointer;
}
.dealBut {
  font-size: 15px;
  font-weight: 900;
  border-radius: 10px;
  margin: 0px 5px;
  float: left;
  padding: 6px 20px;
}

.arrows {
  font-size: 13px;
    font-weight: bolder;
    border-radius: 50%;
    padding: 5px 8px;
    float: right;
    margin: 3px;
}
.sets{
  color:#000000;
  padding-top: 40px;
}
.sets span{
  padding: 10px;
}
.match4 {
  background-color:#a0ff07;
}

.match3 {
  background-color:#f5f017;
}

.match2 {
  background-color: #a8ffe4;
}
.match0 {
  background-color: #ffffff;
}

.amount {
  width: 100%; 
}

.nav {
  clear: both;
  width: 100%;
  height: 20px;
}

.card, .suit,.barCard {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
  float: left;
  height: 100%;
  margin: 2px;
  transform-style: preserve-3d;
  transition: transform 1s;
  backface-visibility: hidden;
}
.card img {
  width: 65px;
}
.suit {
  background-color: #ffffff;
  width:25px;
}
.barCard {
  width: 65px;
  background-color: #ffffff;
  width:65px;
}
@keyframes spin-cat-2 {
  100%{transform:rotateY(0deg);}
}
@keyframes spin-cat-1 {
  0%{transform:rotateY(180deg);}
}
.animateoff {
  -webkit-animation: fadein 1s, spin-cat-2 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s, spin-cat-2 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s, spin-cat-2 1s; /* Internet Explorer */
       -o-animation: fadein 1s, spin-cat-2 1s; /* Opera < 12.1 */
          animation: fadein 1s, spin-cat-2 1s;
}
.animate {
  -webkit-animation: fadein 1s, spin-cat-1 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s, spin-cat-1 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s, spin-cat-1 1s; /* Internet Explorer */
       -o-animation: fadein 1s, spin-cat-1 1s; /* Opera < 12.1 */
          animation: fadein 1s, spin-cat-1 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.App-footer {
  font-size: 1em;
  padding: 30px;
  color: #a1a1a1;
}
p {
  margin:0
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
a:link {
	color: #54595f;
	
}
a:visited {
    color: #54595f;
}
a:hover {
    color: #e100ff;
}

a:active {
    color: #54595f;
}